@model ValueTuple<Post, ICollection<Comment>>

<h2>@Model.Item1.Title</h2>

<html>
<head>
    <title>@Model.Item1.Title</title>
</head>
<body>

    <p>@Model.Item1.Content</p>
    <p>Posted by: <b>@Model.Item1.AuthorName</b> at <b>@Model.Item1.DatePosted</b></p>

    <h3>Comments:</h3>

    <textarea rows="2" cols="50" maxlength="500" required name="content" placeholder="Enter comment here" form="commentForm"></textarea>
    <form method="post" id="commentForm" asp-controller="Post" asp-action="CreateComment" asp-route-postId="@Model.Item1.Id">
        <input type="submit" value="Submit" />
    </form>
    

    <br />

    @if (Model.Item2 != null)
    {
        @foreach (var item in Model.Item2.Reverse())
        {
            <dl>
                <dt>@item.AuthorName at @item.DatePosted</dt>
                <dd>@item.Content</dd>
            </dl>
        }
    }

</body>
</html>